.card {
  background-color: #f3f3f3;
  border: 1px solid #ffddae;
  border-radius: 8px;
  padding: 16px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 2px -1px 5px #d3ebf1;
}
section {
  background-color: #fbfbfb;
  border: 1px solid #ffddae;
  margin: 16px 8px;
  border-radius: 10px;
  flex: 1;
  height: calc(100vh - 100px);
  padding: 0 16px;
}
.outerContainer {
  display: flex;
  justify-content: space-between;
}

form {
  background-color: rgb(230, 232, 249);
  padding: 16px;
  margin: 16px;
  box-shadow: 1px 1px 5px #ffddae;
  border-radius: 16px;
  display: none;
  margin: 0;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  animation: smotherAppear 0.7s ease-in-out both;
}
@keyframes smotherAppear {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

input[type='text'] {
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  width: 350px;
}

textarea {
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  width: 350px;
}
.createTaskContainer {
  background-color: #c6e7ff;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  color: #0e0f10;
  font-weight: 600;
  font-size: 13px;
  border: 1px solid #ffddae;
  cursor: pointer;
  margin: 40px 0 0 8px;
  box-shadow: 1px 1px 3px #c6e7ff;
}
.createTaskContainer:hover {
  opacity: 0.9;
  background-color: #d3e8f7;
}
h3 {
  text-align: center;
  border-bottom: 1px solid #ffddae;
  padding-bottom: 8px;
}

.Add {
  background-color: #c6e7ff;
  padding: 10px;
  border-radius: 8px;
  width: 80px;
  color: #0e0f10;
  font-weight: 600;
  font-size: 13px;
  border: 2px solid #ffddae;
  cursor: pointer;
  margin: 40px 0 0 8px;
}
h4,
h5,
p {
  margin: 0;
  padding: 0;
  color: #0e0f10;
}
p {
  font-size: 11px;
  font-weight: 400;
}
h5 {
  font-size: 13px;
  font-weight: 500;
  padding: 4px;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 8px;
}
.flex {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
.text {
  font-size: 16px;
  font-weight: 700;
  color: black;
  padding: 8px;
  cursor: pointer;
}
